@use '@/styles/variables' as *;

@import "@/styles/classes/cards-container.module.scss";

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: $gap-sm;
}

.inputGroup{
    width: 100%;
}

.input{
    display: none;

    &:checked + .label{
        > div {
            background-color: $clr-warning !important;
        }
    }
}

.label{
    cursor: pointer;
}