@use '@/styles/variables' as *;

// =============== CLASSES ==========
@use "@/styles/classes/hr.module.scss"  as *;

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-sm;
    background-color: $clr-white;
    padding: $padding-sm;
    border-radius: $rounded-xl;
    box-shadow: $shadow-xs;
    border: 1px solid $clr-black-lighter;
    min-height: 365px;
    height: 100%;
}

.chartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex:1;

    > canvas{
        max-width: 100% !important;
        max-height: 100% !important;
    }

}

@media (max-width: $screen-sm){
    .container{
        min-height: 315px;
    }
}
