@use '@/styles/variables' as *;

// =================== CLASSES ===================
@import '@/styles/classes/buttons-container.module.scss';
@import '@/styles/classes/card-container.module.scss';
@import '@/styles/classes/card-body.module.scss';
@import '@/styles/classes/card-header.module.scss';
@import '@/styles/classes/date.module.scss';
@import '@/styles/classes/order-number.module.scss';

.cardContainer {
    flex: 1 280px;
    max-width: 400px;
}

.cardBody {
    gap: $gap-sm;
}

.cardHeader {
    text-transform: capitalize;
}

.itemsContainer {
    display: flex;
    gap: $gap-md;
    justify-content: space-between;
    padding: $padding-xs;
}

.cardItem {
    color: $clr-purple;
    font-size: $font-sm;
    font-weight: $text-normal;
    background-color: $clr-purple-lighter;
    border-radius: $rounded-xs;
    padding: $padding-xs $padding-md;
}

.date,
.time {
    text-align: right;
    font-style: italic;
}

// =================== MEDIA QUERIES ===================

@media (max-width: $screen-xl) {
    .cardContainer {
        max-width: 100%;
    }
}

@media (max-width: $screen-lg) {
    .cardItem {
        font-size: $font-xs;
    }
}