@use '@/styles/variables' as *;

// ANIMATIONS
$animation-pulse: pulseAnimation 3s ease-in-out infinite;
$animation-pulse2: pulse 1.2s infinite;
$animation-wiggle: wiggle 10s infinite linear;
$animation-wiggle2: wiggle2 13s infinite linear;
$animation-wiggle3: wiggle3 15s infinite linear;
$animation-orbit-up: orbit 2s linear infinite, up 2s infinite;
$animation-orbit-down: orbit 2s linear infinite, down 2s infinite;
$animation-spin: spin 2s linear infinite;
$animation-rotate1: rotate1 2s linear infinite;	
$animation-rotate2: rotate2 2s linear infinite;
$animation-rotate3: rotate3 2s linear infinite;
$animation-rotate4: rotate4 2s linear infinite;

// KEYFRAMES
@keyframes pulseAnimation {
    0% {
        background-color: $clr-black-lighter;
    }
    50% {
        background-color: $clr-black-lighter-opacity;
    }
    100% {
        background-color: $clr-black-lighter;
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes wiggle {
    12.5% {
        border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%;
    }
    25% {
        border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%;
    }
    37.5% {
        border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%;
    }
    50% {
        border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%;
    }
    62.5% {
        border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%;
    }
    75% {
        border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%;
    }
    87.5% {
        border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%;
    }
}

@keyframes wiggle2 {
    0% {
        border-radius: 40% 60% 60% 40% / 40% 60% 40% 60%;
    }
    14% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    28% {
        border-radius: 45% 55% 55% 45% / 55% 45% 55% 45%;
    }
    42% {
        border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
    }
    56% {
        border-radius: 30% 70% 70% 30% / 70% 30% 70% 30%;
    }
    70% {
        border-radius: 65% 35% 35% 65% / 35% 65% 35% 65%;
    }
    84% {
        border-radius: 55% 45% 45% 55% / 45% 55% 45% 55%;
    }
    100% {
        border-radius: 40% 60% 60% 40% / 40% 60% 40% 60%;
    }
}

@keyframes wiggle3 {
    0% {
        border-radius: 45% 55% 40% 60% / 40% 65% 35% 60%;
    }
    10% {
        border-radius: 47% 53% 58% 42% / 49% 60% 40% 51%;
    }
    20% {
        border-radius: 43% 57% 33% 67% / 55% 45% 55% 45%;
    }
    30% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    40% {
        border-radius: 30% 70% 50% 50% / 60% 38% 62% 40%;
    }
    50% {
        border-radius: 70% 30% 40% 60% / 35% 65% 35% 65%;
    }
    60% {
        border-radius: 35% 65% 60% 40% / 45% 55% 45% 55%;
    }
    70% {
        border-radius: 55% 45% 55% 45% / 60% 40% 60% 40%;
    }
    80% {
        border-radius: 60% 40% 40% 60% / 40% 60% 40% 60%;
    }
    90% {
        border-radius: 65% 35% 65% 35% / 50% 51% 49% 50%;
    }
    100% {
        border-radius: 45% 55% 40% 60% / 40% 65% 35% 60%;
    }
}

@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes down {
    0%,
    100% {
        transform: none;
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%) translateY(100%);
        filter: blur(10px);
    }

    75% {
        transform: translateY(100%);
    }
}

@keyframes up {
    0%,
    100% {
        transform: none;
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%) translateY(-100%);
        filter: blur(10px);
    }

    75% {
        transform: translateY(-100%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
    from {
        transform: rotateX(50deg) rotateZ(110deg);
    }

    to {
        transform: rotateX(50deg) rotateZ(470deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }

    to {
        transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
}

@keyframes rotate3 {
    from {
        transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }

    to {
        transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
}

@keyframes rotate4 {
    from {
        transform: rotateX(70deg) rotateZ(270deg);
    }

    to {
        transform: rotateX(70deg) rotateZ(630deg);
    }
}






