@use "@/styles/variables" as *;

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-lg;
    color: $clr-sky-dark;
    margin-bottom: $margin-md;
    text-transform: lowercase;
    font-family: $font-modulus;
    font-weight: bold;
}

@media (max-width: $screen-3xl){
    .cardHeader{
        font-size: $font-md;
    }
}


@media (max-width: $screen-lg){
    .cardHeader{
        font-size: $font-sm;
        margin-bottom: $margin-sm;
    }
}