@use '@/styles/variables' as *;

.orderNumber{
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: $font-4xl;
    color: $clr-sky-dark;
    opacity: .1;
    filter: blur(2px);
    pointer-events: none;
}

@media (max-width: $screen-sm){
    .orderNumber{
        font-size: $font-3xl;
    }
}