@use "@/styles/variables" as *;

// Animations
@import "@/styles/classes/animations";

.container{
    display: flex;
    min-height: 100vh;
    position: relative;
    background-color: $clr-black;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.contentContainer{
    color: $clr-white;
    font-family: $font-modulus;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-lg;
    gap: $gap-lg;
}

.image{
    filter: invert(1);
    position: relative;
    z-index: 3;
}

.title{
    font-size: $font-4xl;
    font-weight: $text-normal;
    position: relative;
    text-align: center;
    z-index: 3;
    padding: 0 $padding-3xl;
}

.description{
    font-size: $font-lg;
    font-weight: $text-light;
    text-align: center;
    position: relative;
    z-index: 3;
    font-style: italic;
    padding: 0 $padding-3xl;
    margin-bottom: $margin-lg;

}

.content{
    position: relative;
    z-index: 3;
    background-color: $clr-black-lighter-opacity;
    border-radius: $rounded-lg;
    padding: $padding-xl;
    width: 100%;
    max-width: 600px;
}

.blob{
    position: absolute;
    z-index: 2;
    background-color: $clr-black-light;
    border-radius: 30%;
    opacity: .5;
    animation: $animation-wiggle;

    &:nth-child(1){
        width: 50%;
        height: 30%;
        top: -10%;
        left: -10%;
    }

    &:nth-child(2){
        width: 10%;
        height: 10%;
        top: 50%;
        left: 50%;
    }

    &:nth-child(3){
        width: 90%;
        height: 90%;
        top: 50%;
        right: -40%;
    }

    &:nth-child(4){
        width: 60%;
        height: 60%;
        top: -20%;
        right: -40%;
    }

    &:nth-child(5){
        width: 40%;
        height: 40%;
        top: -20%;
        right: -20%;
    }

    &:nth-child(6){
        width: 10%;
        height: 10%;
        bottom: 20%;
        left: 20%;
    }

    &:nth-child(7){
        width: 20%;
        height: 20%;
        bottom: 0%;
        left: 0%;
    }
    &:nth-child(8){
        width: 15%;
        height: 30%;
        bottom: 30%;
        left: 0%;
    }
}

@media (max-width: $screen-3xl) {
    .image{
        &:first-of-type{
            width: 400px;
            height: 180px;
        }
        &:last-of-type{
            width: 400px;
            height: 40px;
        }
    }
    .title{
        font-size: $font-3xl;
    }
    .description{
        font-size: $font-sm;

    }
}

@media (max-width: $screen-xl) {
    .image{
        &:first-of-type{
            width: 350px;
            height: 150px;
        }
        &:last-of-type{
            width: 350px;
            height: 32px;
        }
    }
    .title{
        font-size: $font-2xl;
    }
    .description{
        font-size: $font-sm;

    }
}

@media (max-width: $screen-lg) {
    .contentContainer{
        padding: $padding-md;
        gap: $gap-xs;
    }
    .image{
        &:first-of-type{
            width: 260px;
            height: 110px;
            margin-bottom: $margin-md;
        }
        &:last-of-type{
            width: 275px;
            height: 32px;
        }
    }
    .title{
        font-size: $font-xl;
    }
    .description{
        font-size: $font-xs;
    }
    .content{
        padding: $padding-lg;
    }
}