// COLORS
$clr-purple-darker: #4a1f7d;
$clr-purple-dark: #6a3ab2;
$clr-purple: #925fe2;
$clr-purple-medium: #dbc4ff;
$clr-purple-light: #e2d4f7;
$clr-purple-lighter: #f7f3ff;
$clr-purple-lighter-opacity: rgba(247, 243, 255, 0.8);
$clr-white: #ffffff;
$clr-smoke: #faf7f7;
$clr-black: #000000;
$clr-black-light: #333333;
$clr-black-lighter: #666666;
$clr-black-lighter-opacity: rgba(102, 102, 102, 0.8);
$clr-orange-darker: #872000;
$clr-orange-dark: #ff3d00;
$clr-orange: #ff5a00;
$clr-orange-medium: #ff8c66;
$clr-orange-light: #ffb892;
$clr-orange-lighter: #fde8dc;
$clr-orange-lighter-opacity: rgba(255, 206, 0, 0.8);
$clr-danger-darker: #800000;
$clr-danger-dark: #b30000;
$clr-danger: #ff0000;
$clr-danger-medium: #ff9393;
$clr-danger-light: #fddbdb;
$clr-danger-lighter: #fff0f0;
$clr-success-darker: #006400;
$clr-success-dark: #009500;
$clr-success: #00c700;
$clr-success-medium: #99ff99;
$clr-success-light: #ccffcc;
$clr-success-lighter: #f0fff0;
$clr-success-lighter-opacity: rgba(240, 255, 240, 0.8);
$clr-warning: #ffcc00;
$clr-warning-light: #ffffcc;
$clr-sky-darker: #006d75;
$clr-sky-dark: #0097a7;
$clr-sky: #00bcd4;
$clr-sky-medium: #80deea;
$clr-sky-light: #b2ebf2;
$clr-sky-lighter: #e0f7fa;
$linear-gradient-dark: linear-gradient(0deg, #000 70%, #ffffff 100%);
$linear-gradient-light: linear-gradient(0deg, #e2d4f7 70%, #925fe2 100%);

// SCREEN SIZES
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-2xl: 1400px;
$screen-3xl: 1600px;

// FONTS
$font-modulus: var(--font-modulus);
$font-roboto: var(--font-roboto);

// BORDER RADIUS
$rounded-2xs: 2px;
$rounded-xs: 4px;
$rounded-sm: 8px;
$rounded-md: 16px;
$rounded-lg: 20px;
$rounded-xl: 24px;
$rounded-full: 50%;

// GAP
$gap-2xs: 2px;
$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 20px;
$gap-xl: 24px;
$gap-2xl: 32px;

// PADDING
$padding-2xs: 2px;
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 20px;
$padding-xl: 24px;
$padding-2xl: 32px;
$padding-3xl: 40px;
$padding-4xl: 64px;

// MARGIN
$margin-2xs: 2px;
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 20px;
$margin-xl: 24px;
$margin-2xl: 32px;
$margin-3xl: 40px;

// FONT SIZE
$font-2xs: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-2xl: 32px;
$font-3xl: 40px;
$font-4xl: 64px;
$font-5xl: 96px;

// FONT WEIGHT
$text-light: 300;
$text-normal: 400;
$text-bold: 600;
$text-bolder: 700;

// SHADOW
$shadow-xs: 0px 0px 4px rgba(145, 95, 226, 0.1);
$shadow-sm: 0px 0px 4px rgba(145, 95, 226, 0.2);
$shadow-md: 0px 0px 4px rgba(145, 95, 226, 0.3);
$shadow-lg: 0px 0px 4px rgba(145, 95, 226, 0.6);
$shadow-xl: 0px 0px 4px rgba(145, 95, 226, 0.8);

$shadow-sm-light: 0px 0px 4px #e2d4f7;
$shadow-md-light: 0px 0px 8px #e2d4f7;
$shadow-lg-light: 0px 0px 12px #e2d4f7;

/* SWEETALERT */
$swal2-confirm-button-background-color: $clr-purple;
$swal2-cancel-button-background-color: $clr-purple-light;
$swal2-success: $clr-success;