@use '@/styles/variables' as *;

.addContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $padding-md;
}

.container{
    background-color: $clr-white;
    height: 100%;
    border-radius: $rounded-xl;
    padding: $padding-xl;
    border: 1px solid $clr-sky-darker;
    box-shadow: $shadow-xs;
}

@media (max-width: $screen-md){
    .container{
    padding: $padding-md;

    }
}

@media (max-width: $screen-sm){
    .container{
    padding: $padding-sm;

    }
}














