@use '@/styles/variables' as *;

.button {
    width: 30px;
    height: 30px;
    background-color: $clr-sky-darker;
    cursor: pointer;
    border-radius: $rounded-xs;
    border: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-md;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;

    &::before {
        position: absolute;
        top: -27px;
        content: 'Delete';
        color: white;
        transition-duration: 0.3s;
        font-size: 20px;
        z-index: 10;
    }

    &:hover {
        width: 80px;
        border-radius: $rounded-xs;
        transition-duration: 0.3s;
        background-color: $clr-danger;
        align-items: center;

        .svgIcon {
            width: 12px;
            transition-duration: 0.3s;
            transform: translateY(55%);
        }

        &::before {
            font-size: $font-xs;
            opacity: 1;
            transform: translateY(27px);
            transition-duration: 0.3s;
        }
    }
}

.svgIcon {
    width: 10px;
    transition-duration: 0.3s;
    path {
        fill: white;
    }
}