@use '@/styles/variables' as *;

// Animations
@use "@/styles/classes/animations" as *;

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.innerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text{
    color: $clr-sky-darker;
}

.ring{
    border: 1px solid transparent;
    border-radius: $rounded-full;
    position: absolute;
    width: 50px;
    height: 50px;

    &:nth-child(1){
        border-bottom: 4px solid $clr-purple;
        animation: #{$animation-rotate1};
    }

    &:nth-child(2){
        border-bottom: 4px solid $clr-danger;
        animation: #{$animation-rotate2};
    }

    &:nth-child(3){
        border-bottom: 4px solid $clr-warning;
        animation: #{$animation-rotate3};
    }

    &:nth-child(4){
        border-bottom: 4px solid $clr-success;
        animation: #{$animation-rotate4};
    }
}

@media (max-width: $screen-lg){
    .ring{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: $screen-md){
    .ring{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: $screen-sm){
    .ring{
        width: 20px;
        height: 20px;
    }
}

