@use "@/styles/variables" as *;

// Animations
@import "@/styles/classes/animations";

.spinner{
    width: $font-md;
    height: $font-md;
    position: relative;
    animation: $animation-spin;
}

.spinner::after, .spinner::before{
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: $font-sm;
    height: $font-sm;
    background-color: $clr-success-light;
    top: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    animation: $animation-orbit-up;
}
.spinner::after{
    background-color: $clr-danger-light;
    animation: $animation-orbit-down;
}