@use '@/styles/variables' as *;

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-sm;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-sm;
    gap: $gap-sm;

}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-sm;
    cursor: pointer;

    &:hover {
        color: $clr-black;
    }
}

.disabled {
    color: $clr-black-lighter;
    pointer-events: none !important;
    cursor: not-allowed;
}

.first {
    &:first-child {
        svg {
            margin-right: -$margin-md;
        }
    }
}
.last {
    &:last-child {
        svg {
            margin-left: -$margin-md;
        }
    }
}

.pageItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: $clr-black-lighter;
    font-size: $font-md;
    color: $clr-white;
    cursor: pointer;
    border-radius: $rounded-xl;
    text-decoration: none !important;
    transition: background-color .3s;

    &:hover{
        background-color: $clr-black
    }
}

.active{
    background-color: $clr-black;
    color: $clr-white;
    pointer-events: none !important;
    cursor: not-allowed;
    scale: 1.1;

    &:hover{
        background-color: $clr-white;
        color: $clr-black;
        border: 1px solid $clr-black;
    }
}

@media (max-width: $screen-2xl) {
    .pageItem {
        width: 40px;
        height: 40px;
    }

    .prev,
    .next {
        svg {
            width: 25px;
            height: 25px;
        }
    }
}

@media (max-width: $screen-xl) {
    .pageItem {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: $screen-lg) {
    .prev,
    .next {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: $screen-md) {
    .pages {
        gap: $gap-xs;
    }

    .pageItem {
        width: 30px;
        height: 30px;
        font-size: $font-sm;
    }
}

@media (max-width: $screen-sm) {
    .pagination {
        padding: $padding-xs;
    }
    .pages {
        gap: $gap-2xs;
    }
    .pageItem {
        width: 25px;
        height: 25px;
        font-size: $font-xs;
    }

    .prev,
    .next {
        svg {
            width: 15px;
            height: 15px;
        }
    }
}