@use '@/styles/variables' as *;

.link{
    position: relative;
    color: $clr-black;
    text-decoration: none;
    font-size: $font-xl;
    display: flex;
    align-items: center;
    transition: all .5s;

    &:hover{
        color: $clr-orange-dark;

        .plusButton{
            rotate: 90deg;
            scale: 1.2;
            
                .svg{
                    fill: $clr-success;
                }

        }
    }
}

.plusButton{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border: none;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
    transition all .5s;

    &:active{
        .svg{
            stroke: $clr-success-lighter;
            fill: $clr-success-dark;
        }
    }
}

.svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    stroke: $clr-success-lighter;
    fill: $clr-black-light;
    transition: all .5s;
}






