@use '@/styles/variables' as *;

.linkItem {
    display: flex;
    align-items: center;
    color: $clr-white;
    text-decoration: none;
    gap: $gap-sm;
    padding: $padding-lg $padding-3xl;
    transition: all 0.3;
    font-size: $font-md;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: $clr-white;
        color: $clr-black;
    }
}

.activeLink {
    font-weight: bold;
    background-color: $clr-white;
    color: $clr-black;
}

@media screen and (max-width: $screen-3xl) {
    .linkItem {
        font-size: $font-sm;
        padding: $padding-md $padding-md;
    }
}

@media screen and (max-width: $screen-lg) {
    .linkItem {
        font-size: $font-xs;
        display: flex;
        justify-content: center;

        span{
            &:last-child{
                display: none;
            }
        }
    }
}


@media screen and (max-width: $screen-sm) {
    .linkItem {
        padding: $padding-sm;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
            &:first-child{
                width: 25px;
                height: 25px;
            }
        }
    }
}






